Test.m
dump.m
*.asv
testfile.txt
test/test.fig
EvenDist_fullYear.mat
EvenDist_fullYear_full.mat
EvenDist_changepowerfactor.mat
EvenDist_changepowerfactor_keepactive.mat
EvenDist_ESS.mat
SelectDist_fullYear.mat
SelectDist_fullYear_long.mat
SelectDist_fullYear_strong.mat
SelectDist_fullYear_weak.mat
greedysearch_strong.mat
greedysearch_weak.mat